<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
<class name="Amazon_webpage_TestCase_Testing.Regression_serach"/>
<class name="Amazon_webpage_TestCase_Testing.Regression_Detail"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="sanity">
    <classes>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
